[submodule "reports"]
	path = reports
	url = git://github.com/silverstripe-labs/silverstripe-reports.git
[submodule "spamprotection"]
	path = spamprotection
	url = git://github.com/silverstripe/silverstripe-spamprotection.git
[submodule "userforms"]
	path = userforms
	url = git://github.com/silverstripe/silverstripe-userforms.git
[submodule "widgets"]
	path = widgets
	url = git://github.com/silverstripe/silverstripe-widgets.git
[submodule "betterbuttons"]
	path = betterbuttons
	url = git://github.com/unclecheese/silverstripe-gridfield-betterbuttons.git
[submodule "mollom"]
	path = mollom
	url = git://github.com/silverstripe/silverstripe-mollom.git
