assets/*
*.sass-cache*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
composer.lock
/testsession/
/buildtools/
/docsviewer/
/nbproject/
a6260aca1da34e77003f46fcee252db1dbd6d446