/* styles for desktop */
/* line 3, ../sass/layout.scss */
.tinynav {
  display: none;
}

/* styles for mobile */
@media screen and (max-width: 668px) {
  /* line 7, ../sass/layout.scss */
  .tinynav {
    display: block;
    width: 100%;
  }

  /* line 8, ../sass/layout.scss */
  #nav {
    display: none;
  }
}
/* line 24, ../sass/layout.scss */
p {
  color: #535353;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}

/* line 25, ../sass/layout.scss */
ul li {
  color: #535353;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}

/* line 26, ../sass/layout.scss */
a {
  color: #c0d959;
}

/* line 27, ../sass/layout.scss */
h1 {
  color: #282828;
  font-size: 32px;
  font-family: "MyriadPro-Regular", times, sans-serif;
  font-weight: bold;
}

/* line 28, ../sass/layout.scss */
h2 {
  color: #0096d9;
  font-size: 24px;
  font-weight: bold;
}

/* line 29, ../sass/layout.scss */
h3 {
  text-decoration: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #535353;
}

/* line 30, ../sass/layout.scss */
h4 {
  font-size: 14px;
  color: #535353;
  font-weight: normal;
  margin-bottom: 1px;
}

/* line 31, ../sass/layout.scss */
h5 {
  font-size: 14px;
  line-height: 1.3em;
}

/* line 32, ../sass/layout.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 33, ../sass/layout.scss */
ul {
  margin-bottom: 26px;
}

/* line 35, ../sass/layout.scss */
.row {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 36, ../sass/layout.scss */
.module {
  margin: 0 10px;
}

/* line 37, ../sass/layout.scss */
.myrid {
  font-family: "MyriadPro-Regular", times, sans-serif;
  font-weight: 100;
}

/* line 38, ../sass/layout.scss */
.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 41, ../sass/layout.scss */
.button {
  padding: 12px 38px;
}

/* line 43, ../sass/layout.scss */
.top-bar2 {
  height: 50px;
  background-color: #D1D3D4;
}
/* line 44, ../sass/layout.scss */
.top-bar2 .topbarrow {
  height: 50px;
}

/* line 46, ../sass/layout.scss */
.socialLinks {
  float: right;
  margin-bottom: 0;
}
/* line 47, ../sass/layout.scss */
.socialLinks li {
  display: inline-block;
  list-style: none;
}

/* line 50, ../sass/layout.scss */
header .module {
  border-bottom: 1px solid #a7a9ab;
  position: relative;
}

/* line 53, ../sass/layout.scss */
.logo {
  width: 428px;
  height: 68px;
  margin-top: 16px;
  margin-bottom: 8px;
  float: left;
  margin-left: -5px;
}

/* line 55, ../sass/layout.scss */
.menuContainer {
  margin-top: 57px;
}

/* line 57, ../sass/layout.scss */
.top-bar-section {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 60, ../sass/layout.scss */
.topMenu {
  float: right;
  margin: 55px 0 0 0;
  border: 0;
}
@media (max-width: 945px) {
  /* line 60, ../sass/layout.scss */
  .topMenu {
    margin: 0;
  }
}
@media (max-width: 668px) {
  /* line 60, ../sass/layout.scss */
  .topMenu {
    margin: 6px 16px 0 0;
    border: 0;
    float: none;
  }
}

/* line 71, ../sass/layout.scss */
.topMenu ul {
  margin: 0;
  padding: 0;
}
/* line 72, ../sass/layout.scss */
.topMenu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
/* line 74, ../sass/layout.scss */
.topMenu ul li a {
  margin: 0;
  padding: 8px 8px 10px 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: Lucida Sans, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #535354;
  border-left: 1px solid #a7a9ab;
  position: relative;
}
/* line 80, ../sass/layout.scss */
.topMenu ul li a:hover {
  color: #FFFFFF;
}
/* line 82, ../sass/layout.scss */
.topMenu ul li ul {
  display: none;
  top: 38px;
  border-top: 7px solid white;
  position: absolute;
  background-color: #5c5653;
  z-index: 2;
  padding: 0 8px;
}
/* line 89, ../sass/layout.scss */
.topMenu ul li ul li:last-child {
  border: none;
}
/* line 90, ../sass/layout.scss */
.topMenu ul li ul li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}
/* line 94, ../sass/layout.scss */
.topMenu ul li ul li a {
  padding: 4px 0;
  width: 90px;
  color: #ededed;
  border-left: none;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.3em;
}
/* line 102, ../sass/layout.scss */
.topMenu ul li ul li a:hover {
  color: #bbd645;
}

/* line 108, ../sass/layout.scss */
.topMenuArrow {
  position: absolute;
  background-image: url("../images/TopMenuArrow.png");
  width: 18px;
  height: 9px;
  left: 39px;
  top: 38px;
  display: none;
  z-index: 3;
}

/* line 110, ../sass/layout.scss */
.MenuHover {
  background-color: #0096d9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

/* line 112, ../sass/layout.scss */
.tagline {
  border-bottom: 1px solid #a7a9ab;
  margin-bottom: 6px;
}
/* line 115, ../sass/layout.scss */
.tagline .taglinoxes {
  float: left;
  display: inline-block;
  border-right: 1px solid #a7a9ab;
  margin: 10px 0 9px;
  padding: 0;
}
/* line 121, ../sass/layout.scss */
.tagline .taglinoxes:last-of-type {
  border-right: none;
}
/* line 122, ../sass/layout.scss */
.tagline .taglinoxes h2 {
  font-size: emCalc(21px);
  font-weight: bold;
  margin: 0;
  color: #0096d9;
  padding: 0 32px;
}
/* line 131, ../sass/layout.scss */
.tagline .taglinoxes-first h2 {
  padding: 0 32px 0 16px;
}

/* line 134, ../sass/layout.scss */
.heroImage {
  width: 942px;
}

/* ======================================================= */
/* #FLEX SLIDER MODS */
/* ======================================================= */
/* line 143, ../sass/layout.scss */
.flexslider {
  margin-bottom: 0;
  background: transparent;
  border: 0 solid white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 151, ../sass/layout.scss */
.flexslider ul {
  float: none;
  height: 0;
}

/* line 154, ../sass/layout.scss */
.flexslider-container {
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 159, ../sass/layout.scss */
.slider-shadow:after {
  content: "\00a0";
  background: url("../images/theme/slide-shadow.png") bottom center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  overflow: visible;
  display: block;
  position: absolute;
  margin-top: -32px;
  height: 62px;
  /* Same as your image height */
  width: 100%;
  /* Same as your image width */
}

/* Caption style
*********************************/
/* line 176, ../sass/layout.scss */
.slides li {
  overflow: hidden;
}

/* line 177, ../sass/layout.scss */
.flex-caption {
  width: 100%;
  z-index: 98;
  padding: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 0;
}

/* Next/Previous Buttons
*********************************/
/* line 181, ../sass/layout.scss */
.flex-direction-nav {
  overflow: hidden;
  margin: 0;
}

/* line 182, ../sass/layout.scss */
.flex-direction-nav li {
  margin-bottom: 0;
}

/* line 183, ../sass/layout.scss */
.flex-direction-nav li a {
  width: 45px;
  height: 38px;
  margin: -13px 0 0;
  display: block;
  background: url("../flexslider/images/flexslider_direction_nav.png") no-repeat 0 0;
  position: absolute;
  top: 45%;
  cursor: pointer;
  text-indent: -9999px;
}

/* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
/* line 185, ../sass/layout.scss */
.flex-direction-nav li a.next {
  background-position: -42px 0;
  right: -150;
  text-indent: -9999px;
}

/* default position */
/* line 186, ../sass/layout.scss */
.flex-direction-nav li a.prev {
  background-position: 0 0;
  left: -150;
  text-indent: -9999px;
}

/* default position */
/* line 188, ../sass/layout.scss */
.flex-direction-nav li a.next, .flex-direction-nav li a.prev, .flex-control-nav {
  /* default opacity */
  -moz-opacity: 0.0;
  filter: alpha(opacity=0);
  opacity: 0.0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 197, ../sass/layout.scss */
.flexslider-container:hover li a.next, .flexslider-container:hover li a.prev {
  /* hover opacity */
  -moz-opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 202, ../sass/layout.scss */
.flex-direction-nav li a.next:hover, .flex-direction-nav li a.prev:hover {
  /* hover opacity */
  -moz-opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
}

/* line 207, ../sass/layout.scss */
.flexslider-container:hover li a.next {
  right: 30px;
}

/* hover position */
/* line 208, ../sass/layout.scss */
.flexslider-container:hover li a.prev {
  left: 30px;
}

/* hover position */
/* Control Nav
*********************************/
/* line 212, ../sass/layout.scss */
.flex-control-nav {
  /* background: white; */
  /*background: rgba(255,255,255,0.02); */
  margin: 0 0 0 0;
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
  /* left: inherit;
  right: 18px; */
  /* padding: 8px;
  list-style: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; */
  /* border: 1px solid white; */
  /* border: 1px solid rgba(255,255,255,0.02); */
  -moz-opacity: 0.0;
  filter: alpha(opacity=0);
  opacity: 0.0;
}

/* line 233, ../sass/layout.scss */
.flexslider-container:hover .flex-control-nav {
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 238, ../sass/layout.scss */
.flex-control-nav li {
  margin: 0 0 0 5px;
  /* float: left; */
}

/* line 239, ../sass/layout.scss */
.flex-control-nav li:first-child {
  margin: 0;
}

/* line 240, ../sass/layout.scss */
.flex-control-nav li a {
  width: 13px;
  height: 13px;
  display: block;
  background: url("../flexslider/images/flexslider_control_nav.png") no-repeat 0 0;
  cursor: pointer;
  text-indent: -9999px;
}

/* line 241, ../sass/layout.scss */
.flex-control-nav li a:hover {
  background-position: 0 -13px;
}

/* line 242, ../sass/layout.scss */
.flex-control-nav li a.active {
  background-position: 0 -26px;
  cursor: default;
}

/* line 246, ../sass/layout.scss */
.lightBlue {
  background-color: #0096d9;
}

/* line 247, ../sass/layout.scss */
.lightGreen {
  background-color: #bbd645;
}

/* line 248, ../sass/layout.scss */
.caseStudiesTitle {
  min-height: 82px;
  margin-top: 28px;
  margin-bottom: 16px;
}
/* line 249, ../sass/layout.scss */
.caseStudiesTitle h3 {
  color: #ffffff;
  font-weight: lighter;
  padding: 24px 0 0 26px;
  font-size: 32px;
}

/* line 251, ../sass/layout.scss */
.casestudiesHomePageintro p {
  color: #ffffff;
  font-size: 13px;
  min-height: 124px;
  padding: 10px 30px 0 10px;
}

/* line 252, ../sass/layout.scss */
.csContainer {
  height: 124px;
  padding: 0 10px;
  margin-bottom: 15px;
}

/* line 253, ../sass/layout.scss */
.csContainer img {
  width: 229px;
  height: 105px;
}

/* line 254, ../sass/layout.scss */
.csContainer .cs h6 {
  color: #535353;
  font-size: 13px;
  font-weight: bold;
}

/* line 256, ../sass/layout.scss */
.hoverContainer {
  background: url("../images/hoverPlusSmall.png") no-repeat center center rgba(68, 69, 68, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

/* line 257, ../sass/layout.scss */
.hoverContainerLarge {
  background: url("../images/hoverPlusLarge.png") no-repeat center center rgba(68, 69, 68, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

/* line 259, ../sass/layout.scss */
.getintouchbox {
  background-color: #434545;
  padding: 32px 21px 6px 21px;
  margin-top: 28px;
}
/* line 260, ../sass/layout.scss */
.getintouchbox h3 {
  display: inline-block;
  flaot: left;
  color: #FFF;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
}
/* line 261, ../sass/layout.scss */
.getintouchbox a {
  display: inline-block;
  float: right;
}

/* line 263, ../sass/layout.scss */
.aboutTitle {
  margin-top: 34px;
}
/* line 264, ../sass/layout.scss */
.aboutTitle h3 {
  color: #535353;
}

/* line 266, ../sass/layout.scss */
.HomepageLink {
  color: #535353;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 267, ../sass/layout.scss */
.SellingPageContainer {
  width: 300px;
  margin: 0 10px 34px 10px;
}
/* line 268, ../sass/layout.scss */
.SellingPageContainer img {
  width: 300;
  height: 157;
}
/* line 269, ../sass/layout.scss */
.SellingPageContainer h5 {
  color: #535353;
  font-size: 16px;
  font-weight: bold;
  color: #0096d9;
  margin-top: 12px;
}
/* line 270, ../sass/layout.scss */
.SellingPageContainer p {
  color: #535353;
  font-size: 12px;
  font-weight: normal;
}
@media (max-width: 950px) {
  /* line 267, ../sass/layout.scss */
  .SellingPageContainer {
    width: 100%;
  }
  /* line 273, ../sass/layout.scss */
  .SellingPageContainer .sellingImage {
    border-right: 20px solid white;
    background-color: #bbd645;
  }
  /* line 276, ../sass/layout.scss */
  .SellingPageContainer .sellingImage img {
    margin: 0 auto;
    display: inherit;
  }
  /* line 279, ../sass/layout.scss */
  .SellingPageContainer h5 {
    text-align: left;
  }
  /* line 280, ../sass/layout.scss */
  .SellingPageContainer p {
    text-align: left;
  }
}

/* line 283, ../sass/layout.scss */
.ReferBox {
  margin-top: 52px;
  margin-bottom: 45px;
  padding: 18px 21px 8px 21px;
}
/* line 287, ../sass/layout.scss */
.ReferBox a {
  margin-top: 15px;
}

/* line 294, ../sass/layout.scss */
.hoverContainerCSSummary {
  background: url("../images/caseStudiesHover.png") no-repeat center center rgba(68, 69, 68, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

/* line 296, ../sass/layout.scss */
.caseStudiesHolderTop {
  height: 144px;
}
/* line 297, ../sass/layout.scss */
.caseStudiesHolderTop h1 {
  padding-top: 30px;
}
@media (max-width: 668px) {
  /* line 296, ../sass/layout.scss */
  .caseStudiesHolderTop {
    height: 92px;
  }
}

/* line 302, ../sass/layout.scss */
.caseStudiesHolder {
  border-top: 1px solid #a7a9ab;
  border-bottom: 1px solid #a7a9ab;
  height: 225px;
  margin-bottom: 16px;
  position: relative;
}
/* line 306, ../sass/layout.scss */
.caseStudiesHolder div {
  float: left;
}
/* line 307, ../sass/layout.scss */
.caseStudiesHolder .button {
  position: absolute;
  bottom: -2px;
  right: 0;
}
@media (max-width: 668px) {
  /* line 307, ../sass/layout.scss */
  .caseStudiesHolder .button {
    position: relative;
    bottom: 36px;
  }
}

/* line 315, ../sass/layout.scss */
.caseStudiesHolderPhoto {
  max-width: 380px;
}
/* line 318, ../sass/layout.scss */
.caseStudiesHolderPhoto img {
  width: 380px;
  height: 224px;
}

/* line 321, ../sass/layout.scss */
.caseStudiesHolderPhoto > p {
  margin: 0;
  padding: 0;
  font-size: 0;
}

/* line 322, ../sass/layout.scss */
.caseStudiesHolderLogo {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 260px;
}
/* line 326, ../sass/layout.scss */
.caseStudiesHolderLogo img {
  width: 260px;
  height: 223px;
}
@media (max-width: 668px) {
  /* line 322, ../sass/layout.scss */
  .caseStudiesHolderLogo {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/layout.scss */
  .caseStudiesHolderLogo img {
    height: auto;
  }
}

/* line 333, ../sass/layout.scss */
.caseStudiesSummary {
  padding-left: 5px;
  max-width: 272px;
  height: 224px;
  overflow: hidden;
}
@media (max-width: 668px) {
  /* line 333, ../sass/layout.scss */
  .caseStudiesSummary {
    height: auto;
    overflow: visible;
  }
}
/* line 343, ../sass/layout.scss */
.caseStudiesSummary h3 {
  padding-bottom: 8px;
  margin-top: 24px;
  font-size: 12px;
}
/* line 345, ../sass/layout.scss */
.caseStudiesSummary h4 {
  font-weight: normal;
  line-height: 1.5em;
  font-size: 12px;
}
/* line 346, ../sass/layout.scss */
.caseStudiesSummary p {
  font-size: 12px;
  line-height: 1.2em;
  padding-right: 16px;
  font-family: "MyriadPro-Regular", times, sans-serif;
}

/* line 350, ../sass/layout.scss */
.caseStudiesHolderBottom {
  height: 54px;
}

/* line 354, ../sass/layout.scss */
.mainContent {
  margin: 18px 0 24px;
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 24px;
}
/* line 358, ../sass/layout.scss */
.mainContent h1 {
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-size: 32px;
  color: #535353;
  font-family: "lucida_sans_regular", times, sans-serif;
  font-weight: normal;
}
/* line 359, ../sass/layout.scss */
.mainContent h2 {
  font-size: 22px;
  margin: 24px 0;
  color: #0096d9;
  font-weight: bold;
}
/* line 360, ../sass/layout.scss */
.mainContent h3 {
  text-transform: uppercase;
  font-size: 18px;
}
/* line 363, ../sass/layout.scss */
.mainContent h4 {
  font-family: "MyriadPro-Regular", times, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
/* line 365, ../sass/layout.scss */
.mainContent p {
  padding-right: 26px;
}

/* line 369, ../sass/layout.scss */
.staff {
  margin-bottom: 40px;
}
/* line 371, ../sass/layout.scss */
.staff h2 {
  font-family: "lucida_sans_bold";
  font-size: 16px;
  margin: 24px 0;
  color: #535353;
}

/* line 374, ../sass/layout.scss */
.staffMember {
  padding-right: 92px;
  height: 140px;
  overflow: hidden;
}
/* line 378, ../sass/layout.scss */
.staffMember img {
  float: left;
  width: 116px;
  height: 124px;
  margin-right: 42px;
  margin-bottom: 18px;
}
/* line 379, ../sass/layout.scss */
.staffMember h3 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 21px;
  margin-bottom: -5px;
}
/* line 380, ../sass/layout.scss */
.staffMember h4 {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 381, ../sass/layout.scss */
.staffMember p {
  font-size: 13px;
}

/* line 385, ../sass/layout.scss */
.heroPostContainer {
  padding-bottom: 32px;
  border-bottom: 1px solid #535353;
}

/* line 387, ../sass/layout.scss */
.heroPost {
  background-color: #0096d9;
}
/* line 390, ../sass/layout.scss */
.heroPost .heropostImageHolder {
  float: left;
  position: relative;
  width: 520px;
}
/* line 394, ../sass/layout.scss */
.heroPost .heropostImageHolder img {
  max-height: 300px;
  max-width: 520px;
  padding: 0;
  margin: 0;
}
/* line 395, ../sass/layout.scss */
.heroPost .heropostImageHolder h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 22px;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-weight: normal;
  padding: 16px;
  margin: 0;
}
/* line 406, ../sass/layout.scss */
.heroPost .heropostSummary {
  float: left;
  width: 420px;
  padding: 28px;
}
/* line 410, ../sass/layout.scss */
.heroPost .heropostSummary h1 {
  font-size: 18px;
  color: #ffffff;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-weight: normal;
}
/* line 411, ../sass/layout.scss */
.heroPost .heropostSummary p {
  font-size: 14px;
  color: #ffffff;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-weight: normal;
}
/* line 412, ../sass/layout.scss */
.heroPost .heropostSummary a {
  font-size: 14px;
  color: #ffffff;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-weight: normal;
}
/* line 413, ../sass/layout.scss */
.heroPost .heropostSummary a:hover {
  text-decoration: underline;
}

/* line 416, ../sass/layout.scss */
.FeaturedPost {
  padding: 26px 10px 0 10px;
}
/* line 419, ../sass/layout.scss */
.FeaturedPost img {
  width: 300px;
  height: 106px;
}
/* line 420, ../sass/layout.scss */
.FeaturedPost p {
  padding: 24px 0;
  line-height: 1.3em;
  font-size: 14px;
  margin: 0;
}
/* line 421, ../sass/layout.scss */
.FeaturedPost a {
  color: #535353;
  padding-top: 0;
  padding-bottom: 24px;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-size: 14px;
  display: block;
  margin: 0;
}
/* line 424, ../sass/layout.scss */
.FeaturedPost a:hover {
  text-decoration: underline;
}
/* line 425, ../sass/layout.scss */
.FeaturedPost .date {
  padding-bottom: 0;
  padding-top: 0;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}
/* line 426, ../sass/layout.scss */
.FeaturedPost .CommentCount {
  float: right;
  color: #0096d9;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  padding: 0;
  margin: 0;
}

/* line 428, ../sass/layout.scss */
.featuredPostsSpacer {
  padding-bottom: 26px;
  margin-bottom: 32px;
  border-bottom: 1px solid #535353;
}

/* line 432, ../sass/layout.scss */
.BlogSummaryBlockHeading {
  background-color: #bbd645;
  padding: 14px 0 12px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #535353;
}

/* line 435, ../sass/layout.scss */
.blogLatestPosts {
  padding-right: 32px;
}

/* line 436, ../sass/layout.scss */
.LatestPostModule, .sideBarPostSummary {
  padding-top: 14px;
  padding-bottom: 16px;
  border-bottom: 1px solid #535353;
  margin-bottom: 16px;
}
/* line 441, ../sass/layout.scss */
.LatestPostModule img, .sideBarPostSummary img {
  width: 142;
  height: 170px;
  float: left;
  margin: 0 16px 16px 0;
  padding: 0;
}
/* line 442, ../sass/layout.scss */
.LatestPostModule h3, .sideBarPostSummary h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  margin: 0;
}
/* line 445, ../sass/layout.scss */
.LatestPostModule h4, .sideBarPostSummary h4 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 26px;
  padding: 0;
}
/* line 446, ../sass/layout.scss */
.LatestPostModule .bloginfo, .sideBarPostSummary .bloginfo {
  color: #bbd646;
  font-size: 14px;
  margin: 0;
  margin-bottom: 18px;
}
/* line 447, ../sass/layout.scss */
.LatestPostModule p, .sideBarPostSummary p {
  line-height: 1.3em;
}
/* line 448, ../sass/layout.scss */
.LatestPostModule a, .sideBarPostSummary a {
  color: #535353;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "MS Sans Serif", Geneva, sans-serif;
  font-size: 14px;
  margin: 0;
}
/* line 451, ../sass/layout.scss */
.LatestPostModule a:hover, .sideBarPostSummary a:hover {
  text-decoration: underline;
}

/* line 453, ../sass/layout.scss */
.sideBarPostSummary {
  margin-bottom: 38px;
  border: none;
}
/* line 456, ../sass/layout.scss */
.sideBarPostSummary h3 {
  margin-bottom: 18px;
  text-transform: none;
}
/* line 457, ../sass/layout.scss */
.sideBarPostSummary .CommentCount {
  color: #bbd646;
  font-size: 14px;
  margin: 0;
  float: right;
}

/* line 459, ../sass/layout.scss */
.pagination {
  margin: 8px 0 0 0;
  height: 1.3em;
}
/* line 462, ../sass/layout.scss */
.pagination ul {
  float: left;
}
/* line 465, ../sass/layout.scss */
.pagination .disabled {
  color: #a7a9ab;
}

/* line 467, ../sass/layout.scss */
.spacer {
  height: 20px;
}

/* line 471, ../sass/layout.scss */
.blogentry .bloginfo {
  color: #bbd646;
  font-size: 14px;
  margin: 0;
  margin-bottom: 18px;
  margin-top: 24px;
}

/* line 473, ../sass/layout.scss */
.mainContentSideBar {
  float: right;
  padding: 34px 0 32px 20px;
}
/* line 475, ../sass/layout.scss */
.mainContentSideBar img {
  width: 300px;
  height: 450px;
  margin-bottom: 28px;
}
/* line 476, ../sass/layout.scss */
.mainContentSideBar .sideBarPostSummary {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #535353;
}
/* line 480, ../sass/layout.scss */
.mainContentSideBar .sideBarPostSummary .CommentCount {
  padding-bottom: 16px;
}

/* line 486, ../sass/layout.scss */
.contactpage h2 {
  margin-bottom: 16px;
  margin-top: 20px;
  font-size: 32px;
  color: #535353;
  font-family: "lucida_sans_regular", times, sans-serif;
  font-weight: normal;
}

/* line 488, ../sass/layout.scss */
.contactMain {
  padding-right: 90px;
}

/* line 491, ../sass/layout.scss */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* line 492, ../sass/layout.scss */
label {
  font-size: 14px;
  font-weight: bold;
  font-family: Lucida Sans, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin-bottom: 11px;
  margin-top: 14px;
  display: block;
  width: 100%;
}

/* line 495, ../sass/layout.scss */
fieldset input, fieldset textarea {
  border: 1px solid #cecece !important;
  border-radius: 3px;
  padding: 20px 16px 22px 16px !important;
  color: #d1d3d4 !important;
}

/* line 496, ../sass/layout.scss */
fieldset textarea {
  min-height: 112px !important;
}

/* line 497, ../sass/layout.scss */
.fieldadjust {
  width: 100%;
  float: left;
}

/* line 499, ../sass/layout.scss */
#futureInfo {
  height: 50px;
  position: relative;
}
/* line 502, ../sass/layout.scss */
#futureInfo label {
  position: absolute;
  top: -14px;
  left: -171px;
}

/* line 504, ../sass/layout.scss */
#Form_ContactForm_action_doContactForm {
  margin-left: 94px;
}

/* line 506, ../sass/layout.scss */
.footer-container {
  background-color: #D1D3D3;
}
/* line 507, ../sass/layout.scss */
.footer-container .large-4 {
  width: 240px;
  margin-right: 70px;
  margin-top: 60px;
}
/* line 511, ../sass/layout.scss */
.footer-container .large-4 h5 {
  font: 12px;
  color: #535353;
  text-transform: uppercase;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;
  padding: 18px 0 14px 0;
  margin-bottom: 22px;
}
/* line 512, ../sass/layout.scss */
.footer-container .large-4 p {
  margin: 0;
  padding: 0;
}
/* line 513, ../sass/layout.scss */
.footer-container .large-4 .email a {
  text-decoration: underline;
  color: #535353;
}
/* line 514, ../sass/layout.scss */
.footer-container .large-4 .footerMenu {
  font: 12px;
  color: #535353;
  text-transform: uppercase;
  border-top: 1px solid #535353;
  padding: 16px 0 13px 0;
  margin-bottom: 0;
  border-bottom: none;
}
@media (max-width: 668px) {
  /* line 507, ../sass/layout.scss */
  .footer-container .large-4 {
    width: 100%;
    margin-right: 0;
  }
}

/* line 524, ../sass/layout.scss */
.footerBlogLatest h6 {
  font-size: 14px;
  font-weight: bold;
  color: #444545;
  margin: 20px 0 0 0;
}
/* line 525, ../sass/layout.scss */
.footerBlogLatest .date {
  font-size: 14px;
  margin: 0;
  line-height: 1em;
}

/* line 528, ../sass/layout.scss */
.footercopy {
  border-top: 1px solid #535353;
  margin-top: 42px;
  padding-top: 38px;
}
/* line 529, ../sass/layout.scss */
.footercopy .copyright {
  font-size: 10px;
  float: left;
}
