/* styles for desktop */
.tinynav { display: none; }

/* styles for mobile */
@media screen and (max-width: 668px) { .tinynav { display: block; width: 100%; }
  #nav { display: none; } }
p { color: #535353; font-size: 14px; line-height: 1.3em; font-family: "MS Sans Serif", Geneva, sans-serif; }

ul li, ol li { color: #535353; font-size: 14px; line-height: 1.3em; font-family: "MS Sans Serif", Geneva, sans-serif; }

a { color: #c0d959; }

h1 { color: #282828; font-size: 32px; font-family: "MyriadPro-Regular", times, sans-serif; font-weight: bold; }

h2 { color: #0096d9; font-size: 24px; font-weight: bold; }

h3 { text-decoration: uppercase; font-size: 16px; font-weight: bold; color: #535353; }

h4 { font-size: 14px; color: #535353; font-weight: normal; margin-bottom: 1px; }

h5 { font-size: 14px; line-height: 1.3em; }

img { max-width: 100%; height: auto; }

ul, ol { margin-bottom: 26px; margin-left: 20px; }

.row { padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }

.module { margin: 0 10px; }

.myrid { font-family: "MyriadPro-Regular", times, sans-serif; font-weight: 100; }

.rounded { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.button { padding: 12px 38px; }

.top-bar2 { height: 50px; background-color: #D1D3D4; }
.top-bar2 .topbarrow { height: 50px; }

.socialLinks { float: right; margin-bottom: 0; }
.socialLinks .mobile { display: none; }
.socialLinks .desktop { display: inline; }
@media (max-width: 668px) { .socialLinks .mobile { display: inline; }
  .socialLinks .desktop { display: none; } }

header .module { border-bottom: 1px solid #a7a9ab; position: relative; }

.logo { margin-top: 16px; margin-bottom: 8px; float: left; margin-left: -5px; }

.menuContainer { margin-top: 57px; }

.top-bar-section { position: absolute; bottom: 0; right: 0; }

.topMenu { float: right; margin: 55px 0 0 0; border: 0; }
@media (max-width: 945px) { .topMenu { margin: 0; } }
@media (max-width: 668px) { .topMenu { margin: 6px 16px 0 0; border: 0; float: none; } }

.topMenu ul { margin: 0; padding: 0; }
.topMenu ul li { list-style: none; margin: 0; padding: 0; float: left; }
.topMenu ul li a { margin: 0; padding: 8px 8px 10px 10px; display: inline-block; font-size: 12px; font-weight: bold; font-family: Lucida Sans, "Lucida Grande", "Lucida Sans Unicode", sans-serif; color: #535354; border-left: 1px solid #a7a9ab; position: relative; }
.topMenu ul li a:hover { color: #FFFFFF; }
.topMenu ul li ul { display: none; top: 38px; border-top: 7px solid white; position: absolute; background-color: #5c5653; z-index: 2; padding: 0 8px; }
.topMenu ul li ul li:last-child { border: none; }
.topMenu ul li ul li { padding: 0; margin: 0; border-bottom: 1px solid black; }
.topMenu ul li ul li a { padding: 4px 0; width: 90px; color: #ededed; border-left: none; font-weight: normal; font-size: 10px; line-height: 1.3em; }
.topMenu ul li ul li a:hover { color: #bbd645; }

.topMenuArrow { position: absolute; background-image: url("../images/TopMenuArrow.png"); width: 18px; height: 9px; left: 39px; top: 38px; display: none; z-index: 3; }

.MenuHover { background-color: #0096d9; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }

.tagline { border-bottom: 1px solid #a7a9ab; margin-bottom: 6px; }
.tagline .taglinoxes { float: left; display: inline-block; border-right: 1px solid #a7a9ab; margin: 10px 0 9px; padding: 0; }
.tagline .taglinoxes:last-of-type { border-right: none; }
.tagline .taglinoxes h2 { font-size: emCalc(21px); font-weight: bold; margin: 0; color: #0096d9; padding: 0 32px; }
.tagline .taglinoxes-first h2 { padding: 0 32px 0 16px; }
@media screen and (max-width: 750px) { .tagline .taglinoxes { border-right: none; display: block; width: 100%; margin: 3px 0 3px; }
  .tagline .taglinoxes h2 { text-align: center; } }
@media screen and (max-width: 950px) { .tagline .taglinoxes h2 { font-size: emCalc(18px); padding: 0 16px; } }

.heroImage { width: 942px; }

/* ======================================================= */
/* #FLEX SLIDER MODS */
/* ======================================================= */
.flexslider { margin-bottom: 0; background: transparent; border: 0 solid white; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.flexslider ul { float: none; height: 0; }

.flexslider-container { overflow: hidden; margin-bottom: 20px; }

.slider-shadow:after { content: "\00a0"; background: url("../images/theme/slide-shadow.png") bottom center no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; overflow: visible; display: block; position: absolute; margin-top: -32px; height: 62px; /* Same as your image height */ width: 100%; /* Same as your image width */ }

/* Caption style
*********************************/
.slides li { overflow: hidden; }

.flex-caption { width: 100%; z-index: 98; padding: 22px; position: absolute; left: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); font-size: 15px; line-height: 21px; margin-bottom: 0; }

/* Next/Previous Buttons
*********************************/
.flex-direction-nav { overflow: hidden; margin: 0; }

.flex-direction-nav li { margin-bottom: 0; }

.flex-direction-nav li a { width: 45px; height: 38px; margin: -13px 0 0; display: block; background: url("../flexslider/images/flexslider_direction_nav.png") no-repeat 0 0; position: absolute; top: 45%; cursor: pointer; text-indent: -9999px; }

/* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.flex-direction-nav li a.next { background-position: -42px 0; right: -150; text-indent: -9999px; }

/* default position */
.flex-direction-nav li a.prev { background-position: 0 0; left: -150; text-indent: -9999px; }

/* default position */
.flex-direction-nav li a.next, .flex-direction-nav li a.prev, .flex-control-nav { /* default opacity */ -moz-opacity: 0.0; filter: alpha(opacity=0); opacity: 0.0; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.flexslider-container:hover li a.next, .flexslider-container:hover li a.prev { /* hover opacity */ -moz-opacity: 0.7 !important; filter: alpha(opacity=70) !important; opacity: 0.7 !important; }

.flex-direction-nav li a.next:hover, .flex-direction-nav li a.prev:hover { /* hover opacity */ -moz-opacity: 1 !important; filter: alpha(opacity=100) !important; opacity: 1 !important; }

.flexslider-container:hover li a.next { right: 30px; }

/* hover position */
.flexslider-container:hover li a.prev { left: 30px; }

/* hover position */
/* Control Nav
*********************************/
.flex-control-nav { /* background: white; */ /*background: rgba(255,255,255,0.02); */ margin: 0 0 0 0; position: absolute; bottom: 16px; width: 100%; text-align: center; /* left: inherit;
right: 18px; */ /* padding: 8px;
list-style: none;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px; */ /* border: 1px solid white; */ /* border: 1px solid rgba(255,255,255,0.02); */ -moz-opacity: 0.0; filter: alpha(opacity=0); opacity: 0.0; }

.flexslider-container:hover .flex-control-nav { -moz-opacity: 1; filter: alpha(opacity=100); opacity: 1; }

.flex-control-nav li { margin: 0 0 0 5px; /* float: left; */ }

.flex-control-nav li:first-child { margin: 0; }

.flex-control-nav li a { width: 13px; height: 13px; display: block; background: url("../flexslider/images/flexslider_control_nav.png") no-repeat 0 0; cursor: pointer; text-indent: -9999px; }

.flex-control-nav li a:hover { background-position: 0 -13px; }

.flex-control-nav li a.active { background-position: 0 -26px; cursor: default; }

.lightBlue { background-color: #0096d9; }

.lightGreen { background-color: #bbd645; }

.caseStudiesTitle { min-height: 82px; margin-top: 28px; margin-bottom: 16px; }
.caseStudiesTitle h3 { color: #ffffff; font-weight: lighter; padding: 24px 0 0 26px; font-size: 32px; }

.casestudiesHomePageintro p { color: #ffffff; font-size: 13px; min-height: 124px; padding: 10px 30px 0 10px; }
@media screen and (max-width: 800px) { .casestudiesHomePageintro p { font-size: 11px; } }

.csContainer { height: 124px; padding: 0 10px; margin-bottom: 15px; }

.csContainer .cs h6 { color: #535353; font-size: 13px; font-weight: bold; }

.hoverContainer { background: url("../images/hoverPlusSmall.png") no-repeat center center rgba(68, 69, 68, 0.8); position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3; display: none; }

.hoverContainerLarge { background: url("../images/hoverPlusLarge.png") no-repeat center center rgba(68, 69, 68, 0.8); position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3; display: none; }

.getintouchbox { background-color: #434545; padding: 32px 21px 6px 21px; margin-top: 28px; }
.getintouchbox h3 { display: inline-block; flaot: left; color: #FFF; font-size: 22px; font-style: italic; font-weight: normal; }
.getintouchbox a { display: inline-block; float: right; }

.aboutTitle { margin-top: 34px; }
.aboutTitle h3 { color: #535353; }

.HomepageLink { color: #535353; font-size: 12px; font-weight: normal; text-transform: uppercase; text-decoration: underline; }

.SellingPageContainer { width: 300px; margin: 0 10px 34px 10px; }
.SellingPageContainer img { width: 300; height: 157; }
.SellingPageContainer h5 { color: #535353; font-size: 16px; font-weight: bold; color: #0096d9; margin-top: 12px; }
.SellingPageContainer p { color: #535353; font-size: 12px; font-weight: normal; }
@media (max-width: 950px) { .SellingPageContainer { width: 100%; }
  .SellingPageContainer .sellingImage { border-right: 20px solid white; background-color: #bbd645; }
  .SellingPageContainer .sellingImage img { margin: 0 auto; display: inherit; }
  .SellingPageContainer h5 { text-align: left; }
  .SellingPageContainer p { text-align: left; } }

.ReferBox { margin-top: 52px; margin-bottom: 45px; padding: 18px 21px 8px 21px; }
.ReferBox a { margin-top: 15px; }

.hoverContainerCSSummary { background: url("../images/caseStudiesHover.png") no-repeat center center rgba(68, 69, 68, 0.8); position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3; display: none; }

.caseStudiesHolderTop { height: 144px; }
.caseStudiesHolderTop h1 { padding-top: 30px; }
@media (max-width: 668px) { .caseStudiesHolderTop { height: 92px; } }

.caseStudiesHolder { border-top: 1px solid #a7a9ab; border-bottom: 1px solid #a7a9ab; height: 225px; margin-bottom: 16px; position: relative; }
.caseStudiesHolder div { float: left; }
.caseStudiesHolder .button { position: absolute; bottom: -2px; right: 0; }
@media (max-width: 668px) { .caseStudiesHolder .button { position: relative; bottom: 36px; } }

.caseStudiesHolderPhoto { max-width: 380px; }
.caseStudiesHolderPhoto img { width: 380px; height: 224px; }

.caseStudiesHolderPhoto > p { margin: 0; padding: 0; font-size: 0; }

.caseStudiesHolderLogo { margin-left: 15px; margin-right: 15px; max-width: 260px; }
.caseStudiesHolderLogo img { width: 260px; height: 223px; }
@media (max-width: 668px) { .caseStudiesHolderLogo { margin-left: 0; margin-right: 0; }
  .caseStudiesHolderLogo img { height: auto; } }

.caseStudiesSummary { padding-left: 5px; max-width: 272px; height: 224px; overflow: hidden; }
@media (max-width: 668px) { .caseStudiesSummary { height: auto; overflow: visible; } }
.caseStudiesSummary h3 { padding-bottom: 8px; margin-top: 24px; font-size: 12px; }
.caseStudiesSummary h4 { font-weight: normal; line-height: 1.5em; font-size: 12px; }
.caseStudiesSummary p { font-size: 12px; line-height: 1.2em; padding-right: 16px; font-family: "MyriadPro-Regular", times, sans-serif; }

.caseStudiesHolderBottom { height: 54px; }

.mainContent { margin: 18px 0 24px; border-bottom: 1px solid #d1d3d4; padding-bottom: 24px; }
.mainContent h1 { font-size: 32px; color: #535353; font-family: "lucida_sans_regular", times, sans-serif; font-weight: normal; }
.mainContent h2 { font-size: 22px; margin: 24px 0; color: #0096d9; font-weight: bold; }
.mainContent h3 { text-transform: uppercase; font-size: 18px; }
.mainContent h4 { font-family: "MyriadPro-Regular", times, sans-serif; font-weight: bold; font-size: 16px; }
.mainContent p { padding-right: 26px; line-height: 1.5em; }

.getintouchbox-dynamic { margin-bottom: 26px; }

.staff { margin-bottom: 40px; }
.staff h2 { font-family: "lucida_sans_bold"; font-size: 16px; margin: 24px 0; color: #535353; }

.staffMember { padding-right: 92px; height: 140px; overflow: hidden; }
.staffMember img { float: left; width: 116px; height: 124px; margin-right: 42px; margin-bottom: 18px; }
.staffMember h3 { font-size: 14px; font-weight: normal; margin-top: 21px; margin-bottom: -5px; }
.staffMember h4 { font-size: 14px; font-weight: bold; font-style: italic; margin-bottom: 10px; }
.staffMember p { font-size: 13px; }

.heroPostContainer { padding-bottom: 32px; border-bottom: 1px solid #535353; }

.heroPost { background-color: #0096d9; }
.heroPost .heropostImageHolder { float: left; position: relative; width: 520px; }
.heroPost .heropostImageHolder img { max-height: 300px; max-width: 520px; padding: 0; margin: 0; }
.heroPost .heropostImageHolder h1 { position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 22px; font-family: "MS Sans Serif", Geneva, sans-serif; font-weight: normal; padding: 16px; margin: 0; }
.heroPost .heropostSummary { float: left; width: 420px; padding: 28px; }
.heroPost .heropostSummary h1 { font-size: 18px; color: #ffffff; font-family: "MS Sans Serif", Geneva, sans-serif; font-weight: normal; }
.heroPost .heropostSummary p { font-size: 14px; color: #ffffff; font-family: "MS Sans Serif", Geneva, sans-serif; font-weight: normal; }
.heroPost .heropostSummary a { font-size: 14px; color: #ffffff; font-family: "MS Sans Serif", Geneva, sans-serif; font-weight: normal; }
.heroPost .heropostSummary a:hover { text-decoration: underline; }

.FeaturedPost { padding: 26px 10px 0 10px; }
.FeaturedPost img { width: 300px; height: 106px; }
.FeaturedPost p { padding: 24px 0; line-height: 1.3em; font-size: 14px; margin: 0; }
.FeaturedPost a { color: #535353; padding-top: 0; padding-bottom: 24px; font-family: "MS Sans Serif", Geneva, sans-serif; font-size: 14px; display: block; margin: 0; }
.FeaturedPost a:hover { text-decoration: underline; }
.FeaturedPost .date { padding-bottom: 0; padding-top: 0; font-family: "MS Sans Serif", Geneva, sans-serif; }
.FeaturedPost .CommentCount { float: right; color: #0096d9; font-family: "MS Sans Serif", Geneva, sans-serif; padding: 0; margin: 0; }

.featuredPostsSpacer { padding-bottom: 26px; margin-bottom: 32px; border-bottom: 1px solid #535353; }

.BlogSummaryBlockHeading { background-color: #bbd645; padding: 14px 0 12px 14px; margin: 0; font-size: 14px; font-weight: bold; color: #535353; }

.blogLatestPosts { padding-right: 32px; }

.LatestPostModule, .sideBarPostSummary { padding-top: 14px; padding-bottom: 16px; border-bottom: 1px solid #535353; margin-bottom: 16px; }
.LatestPostModule img, .sideBarPostSummary img { width: 142; height: 170px; float: left; margin: 0 16px 16px 0; padding: 0; }
.LatestPostModule h3, .sideBarPostSummary h3 { text-transform: uppercase; font-size: 18px; font-weight: normal; font-family: "MS Sans Serif", Geneva, sans-serif; margin: 0; }
.LatestPostModule h4, .sideBarPostSummary h4 { margin: 0; font-size: 18px; margin-bottom: 26px; padding: 0; }
.LatestPostModule .bloginfo, .sideBarPostSummary .bloginfo { color: #bbd646; font-size: 14px; margin: 0; margin-bottom: 18px; }
.LatestPostModule p, .sideBarPostSummary p { line-height: 1.3em; }
.LatestPostModule a, .sideBarPostSummary a { color: #535353; padding-top: 0; padding-bottom: 0; font-family: "MS Sans Serif", Geneva, sans-serif; font-size: 14px; margin: 0; }
.LatestPostModule a:hover, .sideBarPostSummary a:hover { text-decoration: underline; }

.sideBarPostSummary { margin-bottom: 38px; border: none; }
.sideBarPostSummary h3 { margin-bottom: 18px; text-transform: none; }
.sideBarPostSummary .CommentCount { color: #bbd646; font-size: 14px; margin: 0; float: right; }

.pagination { margin: 8px 0 0 0; height: 1.3em; }
.pagination ul { float: left; }
.pagination .disabled { color: #a7a9ab; }

.spacer { height: 20px; }

.blogentry .bloginfo { color: #bbd646; font-size: 14px; margin: 0; margin-bottom: 18px; margin-top: 24px; }

.mainContentSideBar { float: right; padding: 34px 0 32px 20px; }
.mainContentSideBar img { width: 300px; height: 450px; margin-bottom: 28px; }
.mainContentSideBar .sideBarPostSummary { margin-bottom: 0; padding-bottom: 0; border-bottom: 1px solid #535353; }
.mainContentSideBar .sideBarPostSummary .CommentCount { padding-bottom: 16px; }

.contactpage h2 { margin-bottom: 16px; margin-top: 20px; font-size: 32px; color: #535353; font-family: "lucida_sans_regular", times, sans-serif; font-weight: normal; }

.contactMain { padding-right: 90px; }

fieldset { border: none; padding: 0; margin: 0; }

label { font-size: 14px; font-weight: bold; font-family: Lucida Sans, "Lucida Grande", "Lucida Sans Unicode", sans-serif; margin-bottom: 11px; margin-top: 14px; display: block; width: 100%; }

fieldset input, fieldset textarea { border: 1px solid #cecece !important; border-radius: 3px; padding: 20px 16px 22px 16px !important; color: #d1d3d4 !important; }

fieldset textarea { min-height: 112px !important; }

.fieldadjust { width: 100%; float: left; }

#futureInfo { height: 50px; position: relative; }
#futureInfo label { position: absolute; top: -2px; left: -171px; }

#Form_ContactForm_action_doContactForm { margin-left: 94px; }

.footer-container { background-color: #D1D3D3; }
.footer-container a, .footer-container a:active, .footer-container a:hover, .footer-container a:visited { color: #535353; }
.footer-container .large-4 { width: 240px; margin-right: 70px; margin-top: 60px; }
.footer-container .large-4 h5 { font: 12px; color: #535353; text-transform: uppercase; border-top: 1px solid #535353; border-bottom: 1px solid #535353; padding: 18px 0 14px 0; margin-bottom: 22px; }
.footer-container .large-4 p { margin: 0; padding: 0; }
.footer-container .large-4 .email a { text-decoration: underline; color: #535353; }
.footer-container .large-4 .footerMenu { font: 12px; color: #535353; text-transform: uppercase; border-top: 1px solid #535353; padding: 16px 0 13px 0; margin-bottom: 0; border-bottom: none; }
@media (max-width: 668px) { .footer-container .large-4 { width: 100%; margin-right: 0; } }

.footerBlogLatest h6 { font-size: 14px; font-weight: bold; color: #444545; margin: 20px 0 0 0; }
.footerBlogLatest .date { font-size: 14px; margin: 0; line-height: 1em; }

.footercopy { border-top: 1px solid #535353; margin-top: 42px; padding-top: 38px; }
.footercopy .copyright { font-size: 10px; float: left; }
