/* line 7, ../sass/layout.scss */
.top-bar2 {
  height: 50px;
  background-color: #D1D3D4;
  margin-bottom: 17px;
}
/* line 8, ../sass/layout.scss */
.top-bar2 ul {
  float: right;
}
/* line 9, ../sass/layout.scss */
.top-bar2 ul li {
  display: inline-block;
  list-style: none;
}

/* line 13, ../sass/layout.scss */
.logoContainer {
  border-bottom: 1px solid #a7a9ac;
  padding-bottom: 12px;
}

/* line 15, ../sass/layout.scss */
.logo {
  max-width: 100%;
}

/* line 16, ../sass/layout.scss */
header h2 {
  margin: 22px 0 18px;
}

/* line 17, ../sass/layout.scss */
nav a {
  font-size: 12px;
  font-weight: normal;
}

/* line 19, ../sass/layout.scss */
.home-banner {
  height: 373px;
  background-color: grey;
  margin-bottom: 25px;
}

/* line 20, ../sass/layout.scss */
.lightBlue {
  background-color: #0096d9;
}

/* line 21, ../sass/layout.scss */
.caseStudiesTitle {
  min-height: 82px;
}
/* line 22, ../sass/layout.scss */
.caseStudiesTitle h3 {
  color: #ffffff;
  font-weight: normal;
  padding: 21px 0 0 25px;
  font-size: 28px;
}

/* line 24, ../sass/layout.scss */
.big-blue-heading {
  background-color: #0397D5;
  color: #FFF;
  padding: 21px;
}

/* line 25, ../sass/layout.scss */
.big-green-heading {
  background-color: #BBD645;
  color: #434545;
  padding: 27px;
  font-size: 32px;
}

/* line 27, ../sass/layout.scss */
.home-case-study {
  width: 23%;
  margin: 20px 2.66% 35px 0;
  height: 104px;
  float: left;
  background-color: orange;
}

/* line 28, ../sass/layout.scss */
.no-right-margin {
  margin-right: 0 !important;
}

/* line 29, ../sass/layout.scss */
.home-case-study:hover {
  background-color: grey;
}

/* line 31, ../sass/layout.scss */
.grey-home-blockquote {
  background-color: #434545;
  color: #FFF;
  font-size: 26px;
  padding: 21px;
}

/* line 33, ../sass/layout.scss */
.about-boxes {
  width: 32%;
  float: left;
  background-color: #BBD645;
  height: 155px;
  margin: 0 2% 0 0;
}

/* line 36, ../sass/layout.scss */
.footer-container {
  background-color: #D1D3D3;
}
